<style>
	h1 {
		text-align:center;
	}
	.odd {
		background-color:white;
	}
	.even {
		background-color:#eee;
	}
	.section{
		padding:50px;

	}

</style>

<div>

</div>
<div class="odd section">
	<h1>what's zipkid?</h1>
	<h2>glad you asked. it's a smarter way to parent</h2>
</div>
<div class="even section">
	<h1>how it works</h1>
	<h2>3 simple steps to zipkid freedom</h2>
</div>
<div class="odd section">
	<h1>where do zipkids live?</h1>
	<h2>Find us in your local neighborhood, or in cities and airports across the globe.</h2>
</div>
<div class="even section">
	<h1>rates</h1>
	<h2>Pay the membership fee to access thousands of kids around the world.</h2>
</div>
<div class="odd section">
	<h1>don't take it from us.</h1>
	<h2>Pay the membership fee to access thousands of kids around the world.</h2>
</div>